.root {
    -fx-font-family: "Bender", "Arial", sans-serif;
    -fx-font-size: 15px
}

.input-panel {
    -fx-background-color: #242424;
}

.output-panel {
    -fx-background-color: #242424;
}

.control-panel {
    -fx-background-color: #242424;
}

.text-area {
    -fx-text-fill: #e8dfd0;
}

.text-area .content {
    -fx-background-color: #242424;
}

.text-area .scroll-bar {
    -fx-background-color: #242424;
}

.text-area .scroll-bar .thumb {
    -fx-background-color: #e8dfd0;
}

.text-area .scroll-bar .thumb:pressed {
    -fx-background-color: #e8dfd0;
}

.text-area .scroll-bar .thumb:hover {
    -fx-background-color: #e8dfd0;
}

.label {
    -fx-text-fill: #e8dfd0;
}

.button {
    -fx-background-color: #242424;
    -fx-text-fill: #e8dfd0;
    -fx-border-color: #e8dfd0;
}

.button:hover {
    -fx-border-color: rgba(232, 224, 209, 0.5);
}

.button:pressed {
    -fx-background-color: #e8dfd0;
    -fx-text-fill: #242424;
}

.combo-box {
    -fx-background-color: #242424;
    -fx-border-color: #e8dfd0;
}

.combo-box .list-cell {
    -fx-text-fill: #e8dfd0;
}

.list-view {
    -fx-background-color: #242424;
    -fx-text-fill: #e8dfd0;
    -fx-border-color: #e8dfd0;
}

.list-view .list-cell {
    -fx-background-color: #242424;
    -fx-text-fill: #e8dfd0;
}

.list-view .list-cell:selected {
    -fx-text-fill: #242424;
    -fx-background-color: #e8dfd0;
}

.list-view .list-cell:hover {
    -fx-background-color: #e8dfd0;
    -fx-text-fill: #242424;
}

.list-view .scroll-bar {
    -fx-background-color: #242424;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: #e8dfd0;
}

.list-view .scroll-bar .thumb:pressed {
    -fx-background-color: #e8dfd0;
}

.list-view .scroll-bar .thumb:hover {
    -fx-background-color: #e8dfd0;
}
